.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  /* justify-content: center; */
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
  height: 50px;
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.col1 {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 94.5px;
  color: var(--color-primary);

  border-right: 2px solid var(--color-primary);
}

.col2 {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: var(--color-primary);
  height: 100%;

  padding-right: calc(20px);
  border-right: 2px solid var(--color-primary);
}
.col3 {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: var(--color-primary);
  padding-right: calc(20px);
  border-right: 2px solid var(--color-primary);
}
.col2 a {
  display: flex;
}
.col3 a {
  display: flex;
}
.foterminal {
  display: flex;
  height: 100%;
  padding-left: 24px;
  color: var(--color-primary);
  border-left: 2px solid var(--color-primary);
  align-items: center;
  justify-content: center;
}

.foterminal span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-variation-settings: "wght" 500, "slnt" 0;
}
.foterminal span > svg {
  font-size: 1.5;
}
