.game-container {
  /* max-width: 300px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  /* padding: 20px; */
  /* padding-top: 50px; */
}

.score-board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* .game-grid {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  background-color: #ddd;
  border: 2px solid black;
} */

.grid-cell {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #4caf50;
  border-radius: 5px;
}

.food {
  background-color: #f44336;
  border-radius: 50%;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1976d2;
}

.game-over {
  margin-top: 20px;
  font-size: 1.5rem;
  color: red;
}

@media (max-width: 480px) {
  /* .game-grid {
    grid-template-columns: repeat(20, 15px);
    grid-template-rows: repeat(20, 15px);
  } */
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(20, minmax(5px, 1fr));
  grid-template-rows: repeat(20, minmax(5px, 1fr));
  /* grid-template-columns: repeat(20, minmax(10px, 1fr));
  grid-template-rows: repeat(20, minmax(10px, 1fr)); */
  border-radius: 20%;

  gap: 1px;
  width: 300px;
  height: 350px;
  background: #222;
}

.grid-cell {
  background: #2d263f;
  transition: all 0.1s ease;
}

.grid-cell.snake {
  background: #4caf50;
  border-radius: 2px;
}

.grid-cell.food {
  background: #ff4081;
  border-radius: 50%;
}
